@charset "UTF-8";

/* RESET AND CLEAR */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,img,a.img,img a{list-style-type:none;border:0;font-weight:inherit;font-style:inherit;font-family: Inconsolata, Menlo, monospace, inherit;outline:none;border-style:none;border-width:0;margin:0;padding:0;}
div.clear{clear:both;line-height:0;height:0;font-size:0;border:0;margin:0;padding:0;}

/* GENERAL */

body {
  	background: #343d46;
    color: #333333;
    font-family: Inconsolata;
    font-size: 14px;
    line-height: 20px;
    min-width: 1000px;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

 .box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 
   
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
