@charset "UTF-8";

/* RESET AND CLEAR */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,img,a.img,img a{list-style-type:none;border:0;font-weight:inherit;font-style:inherit;font-family: Inconsolata, Menlo, monospace, inherit;outline:none;border-style:none;border-width:0;margin:0;padding:0;}
div.clear{clear:both;line-height:0;height:0;font-size:0;border:0;margin:0;padding:0;}

/* GENERAL */


@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body {
  	background-color:#34495e;    
  	color: #333333;
    font-family: Inconsolata;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
}

h1 {
	color: white;
    font-family: Inconsolata;
    font-size: 14px;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin:0;
    padding:0;
    font:12pt Arial;
}

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:70%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133)
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}