@charset "UTF-8";

/* RESET AND CLEAR */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,img,a.img,img a{list-style-type:none;border:0;font-weight:inherit;font-style:inherit;font-family: Inconsolata, Menlo, monospace, inherit;outline:none;border-style:none;border-width:0;margin:0;padding:0;}
div.clear{clear:both;line-height:0;height:0;font-size:0;border:0;margin:0;padding:0;}

/* GENERAL */

body {
    background: #ffffff;
    color: #333333;
    font-family: Inconsolata;
    font-size: 14px;
    line-height: 20px;
    min-width: 1000px;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}
